# RUFAS .gitignore

# ignore text files
*.txt
*.txt#
!requirements.txt
*.doc
*.docx

# ignore log files
*.log
# ignore linear programming files
*.lp

# ignore temporary files generated when checking code coverage
.coverage
.github/workflows/coverage.json

# ignore python compiled files
*.pyc

# folders
others

input/data/tasks/default_task.json

# Ignore contents of output directories, except for .keep files
# This is because we want to keep the output directories, and git
# only stores non-empty directories
output/*
!output/.keep
!output/graphics/
output/graphics/*
!output/output_filters/
output/output_filters/*
!output/output_filters/report_example.json
!output/output_filters/_csv_all_variables.txt

# ignore project files
*.sublime-project
*.sublime-workspace
*.project
*.pydevproject
*.vscode
*.settings
.idea/**

# Virtual environments
.venv/
.venv*/
venv/
env/
ENV/

# ignore build files
dist/
*.egg-info/
build/

# ignore .DS_store
.DS_store

.pytest_cache/
*.bak
tests/__pycache__/test_user_prompt.cpython-311-pytest-7.2.2.pyc.27508
.github/workflows/combined_format_lint_test_mypy.yml

# Ignore Data Collection App schemas
DataCollectionApp/schema/*
!DataCollectionApp/schema/.keep

docs/_build/
